@import "{{ site.theme }}";


body {
      background-image: url("Assets/Images/GradiantBlackWhite.jpg");
      background-size: cover;
      background-attachment: fixed;
}
header {
  display: none;
}
