@import "{{ site.theme }}";

body {
     /* background-image: url("Assets/Images/GradiantBlackWhite.jpg"); */
      background-color: black;
      background-size: cover;
      background-attachment: fixed;
      font-family: "Bitter", "Verdana";
}

footer {
      margin-bottom:100px;
      text-align: center
}

div {
      margin-top: 10px;
      color: white;
}

br {
      display: block;
      margin-top: 15px;
}

li {
      margin-left: 15px;
      margin-top: 15px;
}

h2 {
      margin-left: 50px;
      margin-top: 50px;
}

.main_container {
    margin-bottom: 50px;
}

.main_column {
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 75px;
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
}

.main_column:first-child {
    margin-right: 10px; /* Espace entre les colonnes */
}

.c_video_title {
     display: flex;
     text-align: left;
     margin-top: 50px;
     margin-left: 50px;
}

.c_header {
     color: white;
     margin-left: 100px;
     margin-right: 100px; 
     margin-top: 40px; 
     display: flex;
}

.header_button {
     margin-left: 50px;
     width: 200px;
     height: 160px;
     font-size: x-large;
     border-radius: 50px;
}

.c_title {
    font-size: xxx-large;
}

.c_sub_title {
    font-size: x-large;
    color: white;
    margin-left: 0px;
}

.c_logo {
     margin-left: 175px;
     height: 200px;
}

.c_iframe {
     margin-top: 0px;
}

.c_video {
     margin-top: 15px;
}

.list_possibilities {
     margin-top: 10px;
     margin-left: 50px;
}

#prototypes {
     margin-left: 50px;
}

#contact_line {
    font-size: x-large;
}
