@import "{{ site.theme }}";

body {
      background-image: url("Assets/Images/GradiantBlackWhite.jpg");
      background-size: cover;
      background-attachment: fixed;
      font-family: "Bitter", sans-serif;
}

footer {
      margin-top:100px;
      margin-bottom:100px;
      text-align: center
}

div {
      margin-top: 50px;
      color: white;
}

li {
      margin-left: 15px;
}

.c_video {
      text-align: center;
      margin-top: 50px;
}

.c_header {
      color: white;
      margin-top: 100px;
      margin-bottom: 25px;
      margin-left: 300px;
      margin-right: 300px; 
      text-align: center;
}

.list_possibilities {
      margin-left: 50px;
}
